<div class="container">
  <div class="jumbotron">
    <h1>Welcome to PhotoApp</h1>

    <p>
      Our app is great for looking at photos
    </p>

    <p>
      {{link-to "View photos now" 'album' class='btn btn-primary btn-lg'}}
    </p>
  </div>
</div>