<div class="lightbox">
  {{#link-to "album.photo" model class='btn btn-default pull-right'}}
    <i class="glyphicon glyphicon-resize-small"></i> Exit full screen
  {{/link-to}}

  <img src={{model.largeUrl}}>
  {{photo.name}}
</div>